.HomePage {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  gap: 50px;
}

.card {
  background-color: #c2c2c2 !important;
  border-radius: 30px !important;
  padding: 5px !important;
}
.personalCard {
  width: 300px;
}

.infoCard {
  width: 400px;
}

.typeWriterText {
  font-size: 9vmin;
  color: darkblue;
  text-align: center;
  font-family: "Winky Sans", sans-serif !important;
  font-weight: 700;
  margin: 1rem 0 1rem 2rem;
}

@keyframes typing {
  1%,
  28% {
    content: "S";
  }
  2%,
  27% {
    content: "Sy";
  }
  3%,
  26% {
    content: "Sys";
  }
  4%,
  25% {
    content: "Syst";
  }
  5%,
  24% {
    content: "Syste";
  }
  6%,
  23% {
    content: "System";
  }
  7%,
  22% {
    content: "System ";
  }
  8%,
  21% {
    content: "System A";
  }
  9%,
  20% {
    content: "System Ad";
  }
  10%,
  19% {
    content: "System Adm";
  }
  11%,
  18% {
    content: "System Admi";
  }
  12%,
  17% {
    content: "System Admin";
  }
  29%,
  58% {
    content: "N";
  }
  30%,
  57% {
    content: "Ne";
  }
  31%,
  56% {
    content: "Net";
  }
  32%,
  55% {
    content: "Netw";
  }
  33%,
  54% {
    content: "Netwo";
  }
  34%,
  53% {
    content: "Networ";
  }
  35%,
  52% {
    content: "Network";
  }
  36%,
  51% {
    content: "Network ";
  }
  37%,
  50% {
    content: "Network A";
  }
  38%,
  49% {
    content: "Network Ad";
  }
  39%,
  48% {
    content: "Network Adm";
  }
  40%,
  47% {
    content: "Network Admi";
  }
  41%,
  46% {
    content: "Network Admin";
  }
  59%,
  100% {
    content: "F";
  }
  60%,
  99% {
    content: "Fu";
  }
  61%,
  98% {
    content: "Ful";
  }
  62%,
  97% {
    content: "Full";
  }
  63%,
  96% {
    content: "Fulls";
  }
  64%,
  95% {
    content: "Fullst";
  }
  65%,
  94% {
    content: "Fullsta";
  }
  66%,
  93% {
    content: "Fullstac";
  }
  67%,
  92% {
    content: "Fullstack";
  }
  68%,
  91% {
    content: "Fullstack ";
  }
  69%,
  90% {
    content: "Fullstack D";
  }
  70%,
  89% {
    content: "Fullstack De";
  }
  71%,
  88% {
    content: "Fullstack Dev";
  }
  72%,
  87% {
    content: "Fullstack Deve";
  }
  73%,
  86% {
    content: "Fullstack Devel";
  }
  74%,
  85% {
    content: "Fullstack Develo";
  }
  75%,
  84% {
    content: "Fullstack Develop";
  }
  76%,
  83% {
    content: "Fullstack Develope";
  }
  77%,
  82% {
    content: "Fullstack Developer";
  }
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}

.buttonsFooter {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  margin-top: 15px;
}

/**/
